{{#paper-item class="team-list-entry team-list-header"}}
    <img class="md-avatar">
    <div class="md-list-item-text">
      <h3>
        <div layout="row">
          <div flex="55">Team</div>
          <div flex="15">Pos</div>
          <div flex="15">GF</div>
          <div flex="15">GA</div>
        </div>
      </h3>
    </div>
{{/paper-item}}
{{paper-divider}}
