{{#paper-toolbar}}
  <div class="md-toolbar-tools">
    <span id="title">Premier League</span>
    {{#paper-button}}{{link-to 'Home' 'index'}}{{/paper-button}}
    {{#paper-button}}{{link-to 'Teams' 'teams'}}{{/paper-button}}
    {{#paper-button}}{{link-to 'Players' 'players'}}{{/paper-button}}
  </div>
{{/paper-toolbar}}

{{#paper-content}}
  {{outlet}}
{{/paper-content}}
