 @import 'ember-paper';

.md-toolbar-tools > img {
  width: 30px;
  margin-right: 15px;
}

md-icon.favorited {
  color: #8B0000;
}

md-list-item {
  & > button > span {
    width: 100%;
  }
  .md-list-item-text {
    width: 100%;
  }

}

.loading-screen {
  md-progress-circular {
    width: 100%;
    height: 100px;

    .md-spinner-wrapper {
      margin: -25px 0 0 -25px;
      position: absolute;
      top: 50%;
      left: 50%;
    }
  }
}

.team-list-entry {
  h3 {
    min-width: 500px;
  }
}

.team-list-header {
  background-color: color($color-light-blue, '50');
  img {
    visibility: hidden;
  }
}

 .player-entry {
   h3 {
     font-weight: 500 !important;
   }
 }

 .team-card {
   .team-logo {
     float: left;
     margin-right: 15px;
     img {
       width: 150px;
     }
   }
   & ::after {
     clear: left;
   }
   .team-logo + h2 {
     margin-bottom: 0;
   }
   .team-details {
     margin-top: 0;
     float: left;
     button {
       margin-left: 0;
       width: auto;
       height: auto;
       line-height: normal;
     }
   }
   .my-grid {
     float: left;
     min-width: 175px;
     margin-left: 20px;
     md-grid-list {
       border: 1px solid #DDD;
       .grid-title {
         background-color: #DDD;
       }
     }
   }
 }

 .team-players {
   h3 {
     margin-top: 0;
   }
 }
